
/*https://material.io/color/#!/?view.left=0&view.right=0&primary.color=00796B&secondary.color=FBC02D*/

.picker-day.today.picker-off,.picker-day.today.picker-off:hover,.picker-day.today.picker-selected,.picker-day.today:hover {
    color: #00a3ff
}
.picker-day.today {
    background-color: #00a5ce;
    color: #f7fb65;
}

.picker-day:not(.picker-off):not(.picker-empty):hover {
    /*background-color: #00796b !important;*/
    background-color: #218838 !important;
    color: #fbc02d !important;
}
.picker-day:not(.picker-off):not(.picker-empty):not(.picker-selected):hover {
    /*background-color: #00796b !important;*/
    background-color: #218838 !important;
    color: #fff !important;
}

.picker-day.picker-selected:not(.picker-off) {
    /*background-color: #2e7d32 !important;*/
    background-color: #28a745 !important;
    color: #fff !important;
}

.picker-day.picker-selected.picker-off {
    background-color: #794811 !important; /*---256628*/
    color: #f3f3e3 !important;
}

.picker-day.picker-selected.click-selection-active:not(.picker-off) {
    background-color: #d0d425;
    color: #568eab;
}

.picker-day.picker-off,.picker-day.picker-off:hover {
    background-color: #eee;
    color: #bbb;
    cursor: default
}

.picker-day.picker-empty,.picker-day.picker-empty:hover {
    background-color: #fafafa;
    cursor: default
}

.picker-day.stay-dates {
    background-color: #78BC42;
    color: #fff;
}

.picker-day.stay-dates.picker-selected {
    background-color: #d0d425;
    color: #568eab;
}

.picker-day.today.stay-dates {
    background-color: #00a5ce;
    color: #f7fb65;
}

.picker-day.today.stay-dates.picker-selected {
    background-color: #d0d425;
    color: #568eab;
}

.picker-day.stay-dates.picker-off {
    background-color: rgba(91, 136, 56, 0.6);
    color: rgba(255, 255, 255, 0.6);
}

.picker-day.stay-dates:not(.picker-off):hover{
    background-color: rgba(0, 165, 206, 0.5);
    color: #f7fb65;
}

.picker-day.stay-dates.picker-selected.click-selection-active:not(.picker-off) {
    background-color: #d0d425;
    color: #568eab;
}