div.event{    
    padding: 10px;
    background-color: #acacac;
}

.noevent{
    height: 4em;
    width: 11em;
    background-color: #acacac;
    padding: 10px;
    line-height: 3em;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}